#generation {
    position:fixed;
    top: 0px;
    left: 0px;
    font-size: 20px;
    font-family: courier;
}

#highestFittestScore {
    position: absolute;
    top: 20px;
    left: 0px;
    font-size: 20px;
    font-family: courier;
}

#AverageFittestScore {
    position: absolute;
    top: 40px;
    left: 0px;
    font-size: 20px;
    font-family: courier;
}

#lowestFittestScore {
    position: absolute;
    top: 60px;
    left: 0px;
    font-size: 20px;
    font-family: courier;
}

canvas {
    position: relative;
    top: 100px;
    width: 275px;
    height: 275px;
    border: 1px solid black;
    margin-top: 20px;
}

